@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Josefin Sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* HEADINGS AND LOGO */

h1, h2, h3 {
    font-family: Fredoka One, sans-serif;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 40px;
}

/* NAVIGATION */

#menu {
    font-size: 130%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* HERO IMAGE */

#hero-outer {
    height: 750px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 750px;
    width: 100%;
    background: url('../images/dogs_girl_dirtroad.jpg') no-repeat center center;
    background-size: cover;
}

/* SERVICES */

#services-section {
    height: 750px;
    background-color:beige;
}

#services-headline {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

.lcol {
    float: left;
}

.rcol {
    float: right;
}

.c50 {
    width: 45%;
    margin: 20px;
}

.w100 {
    width: 100%;
}

.txt-center {
    text-align: center;
    font-size: 200%;
}

